<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kontakt Lepotni studio Anais">
      <meta property="og:title" content="Lepotni studio Anais - Kontakt" />
      <meta property="og:description" content="Kontakt"/>
      <meta property="og:image:type" content="/static/img/logo.png" />
      <meta property="og:image:alt" content="logotip Lepotni Studio Anais" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
	  <!-- Custom CSS -->
  <link rel="stylesheet" href="static/css/index.css">
      <link rel="stylesheet" href="static/css/gallery.css">
      <link rel="stylesheet" href="static/css/contact.css">
    <title>Lepotni Studio Anais-Kontakt</title>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-X8ZXT2MLDV"></script>
      <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X8ZXT2MLDV');
</script>
  </head>
  <body>
    <header>
  <div class="top">
    <div class="left">
      <div class="mail">
      <i class="fa fa-envelope-o fa-1x"></i><span>lepotnistudioanais@gmail.com</span>
        </div>
      <div class="phone">
      <i class="fa fa-phone fa-1x"></i>
       <span>+386 40 590 177</span>
        </div>
    </div>
    <div class="right">
      <div class="instagram">
        <a href="https://www.instagram.com/lepotni_studio_anais/" target="_blank"> <i class="fa fa-instagram fa-2x"></i></a>
      </div>
      <div class="facebook">
      <a href="https://www.facebook.com/pages/category/Beauty--cosmetic---personal-care/Lepotni-Studio-Anais-426593567492815/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        </div>
    </div>
  </div>
 <nav class="navbar navbar-expand-lg navbar-dark  p-md-3">
        <a class="navbar-brand" href="/">
          <img class="img-fluid" src="static/img/logo.png" width="120" height="auto"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mx-auto"></div>
          <ul class="navbar-nav" id="nav">
            <li class="nav-item">
              <a class="nav-link" href="/">DOMOV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#storitve">STORITVE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cenik">CENIK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery">GALERIJA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/contact">KONTAKT</a>
            </li>
          </ul>
        </div>
    </nav>
</header>
<div class="jumbotron jumbotron-fluid d-flex justify-content-center mt-4" style="background:url('/static/img/bg-text.jpg');background-repeat: no-repeat;
  background-size: auto;">
  <div class="container">
    <div class="display-6">
         <h2 class="title1">Kontakt</h2>
        <div class="separator">
  <div class="line"></div>
    <img src="/static/img/spa.png">
    <div class="line"></div>
            </div>
</div>
  </div>
</div>

    <section class="pb-5 pt-0 mt-4">

    <div class="container">
        <div class="row text-center justify-content-center pt-5">
            <div class="col-12 col-md-7">
                <h1>Kontaktirajte nas</h1>
            </div>
        </div>

        <div class="row justify-content-center pt-4">
            <div class="col-12 col-md-6">
           <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89434.45939842552!2d13.625667033887444!3d45.533689699259625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477b69c892803b23%3A0x5f4f6caae1cdfbae!2sSpodnje%20%C5%A0kofije%20207%2C%206281%20%C5%A0kofije!5e0!3m2!1sen!2ssi!4v1646752894185!5m2!1sen!2ssi" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
            <div class="col-12 col-md-6 pt-2">
               <form name="sentMessage" id="contactForm" method="POST">
                    <div class="row">
                        <div class="col">
                            {% if success %}
                            <div class="alert alert-success" role="alert">
                             Sporočilo je bilo poslano!
                            </div>
                            {% endif %}
                            <input class="form-control" type="text" id="name" name="name" placeholder="Ime in priimek" required>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                           <input class="form-control" type="email" id="email" name="email" placeholder="Email naslov" required>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                        <textarea class="form-control" id="message" name="message" rows="5" placeholder="Sporočilo. . . . " required></textarea>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col text-center">
                             <button type="submit" class="btn btn-danger">Pošlji</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
        <div class="separator">
  <div class="line"></div>
    <img src="/static/img/spa.png">
    <div class="line"></div>
</div>
    <div class="container">
    <div class="row align-items-center;">
    <div class="col-md-4 col-sm-6 mb-3">
        <h5 style="text-align:center; margin-bottom:20px;"> Lepotni Studio Anais</h5>
        <div class="location">
            <ul class="list-unstyled">
            <li class="my-2 mb-1"><i class="fa fa-map-marker mx-3"></i>Spodnje Škofije 207</li>
                <li class="my-2 mx-5 mb-1">6281 Škofije</li>
                <li class="my-2 mb-1"><i class="fa fa-phone mx-3"></i>+386 40 590 177</li>
                <li class="my-2 mb-1"><i class="fa fa-envelope mx-3"></i><a href="mailto:lepotnistudioanais@gmail.com">lepotnistudioanais@gmail.com</a></li>
          </ul>
            </div>
    </div>
<div class="col-md-4 col-sm-6 mb-3">
    <h5 style="text-align:center; margin-bottom:20px;">delovni čas</h5>
    <div class="schedule">
     <ul class="list-unstyled">
        <li class="my-2 mb-1"><i class="fa fa-calendar mx-2" aria-hidden="true"></i>Ponedeljek-petek</li>
         <li class="my-2 mb-3"><i class="fa fa-clock-o mx-2" aria-hidden="true"></i>8:00-19:00</li>
         <li class="my-2 mb-1"><i class="fa fa-calendar mx-2" aria-hidden="true"></i>Sobota-nedelja-prazniki</li>
         <li class="my-2 mb-2"><i class="fa fa-clock-o mx-2" aria-hidden="true"></i>ZAPRTO</li>
     </ul>
        </div>
    </div>
        <div class="col-md-4 col-sm-6 mb-3">
            <h5 style="text-align:center; margin-bottom:20px;">Sledite nam</h5>
            <div class="follow">
      <p>Sledite nam na družbenih omrežjih in bodite<br> na tekočem z akcijami in novostmi.</p>
            </div>
            <div class="soc-links">
                <a href="https://www.facebook.com/pages/category/Beauty--cosmetic---personal-care/Lepotni-Studio-Anais-426593567492815/" target="_blank"><i class="fa fa-facebook-square mx-2" style="font-size:40px"></i></a>
                <a href="https://www.instagram.com/lepotni_studio_anais/" target="_blank"><i class="fa fa-instagram mx-2" style="font-size:40px"></i></a>
                </div>
    </div>
        </div>
</div>
</footer>





<script>
var linkClicked = document.getElementsByClassName('nav-link');
var numClass = linkClicked.length;

for (var i = 0; i < numClass; i++) {
		linkClicked[i].addEventListener('click', function(){
      var onTheMoment = document.getElementsByClassName('active');
			onTheMoment[0].className = onTheMoment[0].className.replace(' active', '');
			this.className += ' active';
    }, false);
	}
</script>


    <!-- Option 1: Bootstrap Bundle with Popper -->

	 <!-- jQuery CND -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <!-- Bootstrap Script -->
  </body>
</html>