<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Galerija Lepotni studio Anais">
      <meta property="og:title" content="Lepotni studio Anais - Galerija" />
      <meta property="og:description" content="Galerija"/>
      <meta property="og:image:type" content="/static/img/logo.png"/>
      <meta property="og:image:alt" content="logotip Lepotni Studio Anais" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
	  <!-- Custom CSS -->
  <link rel="stylesheet" href="static/css/index.css">
      <link rel="stylesheet" href="static/css/gallery.css">
    <title>Galerija-Lepotni Studio Anais</title>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-X8ZXT2MLDV"></script>
      <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X8ZXT2MLDV');
</script>

  </head>
  <body>
    <header>
  <div class="top">
    <div class="left">
      <div class="mail">
      <i class="fa fa-envelope-o fa-1x"></i><span>lepotnistudioanais@gmail.com</span>
        </div>
      <div class="phone">
      <i class="fa fa-phone fa-1x"></i>
       <span>+386 40 590 177</span>
        </div>
    </div>
    <div class="right">
      <div class="instagram">
        <a href="https://www.instagram.com/lepotni_studio_anais/" target="_blank"> <i class="fa fa-instagram fa-2x"></i></a>
      </div>
      <div class="facebook">
      <a href="https://www.facebook.com/pages/category/Beauty--cosmetic---personal-care/Lepotni-Studio-Anais-426593567492815/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        </div>
    </div>
  </div>
 <nav class="navbar navbar-expand-lg navbar-dark  p-md-3">
        <a class="navbar-brand" href="/">
          <img class="img-fluid" src="static/img/logo.png" width="120" height="auto"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mx-auto"></div>
          <ul class="navbar-nav" id="nav">
            <li class="nav-item">
              <a class="nav-link" href="/">DOMOV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#storitve">STORITVE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cenik">CENIK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/gallery">GALERIJA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">KONTAKT</a>
            </li>
          </ul>
        </div>
    </nav>
</header>
<div class="jumbotron jumbotron-fluid d-flex justify-content-center mt-4" style="background:url('/static/img/bg-text.jpg');background-repeat: no-repeat;
  background-size: auto;">
  <div class="container">
    <div class="display-6">
         <h2 class="title1">Galerija</h2>
        <div class="separator">
  <div class="line"></div>
    <img src="/static/img/spa.png">
    <div class="line"></div>
            </div>
</div>
  </div>
</div>

<section class="gallery min-vh-100">
		<div class="container-lg">
			<div class="row row-cols-2 row-cols-md-3 g-4">
				<div class="col">
					<img src="/static/img/gallery/pic1.jpg" class="gallery-item" alt="galerija lepotni studio">
				</div>

				<div class="col">
					<img src="/static/img/gallery/pic2.jpg" class="gallery-item" alt="galerija lepotni studio">
				</div>

				<div class="col">
					<img src="/static/img/gallery/pic3.jpg" class="gallery-item" alt="galerija lepotni studio">
				</div>

				<div class="col">
					<img src="/static/img/gallery/pic4.jpg" class="gallery-item" alt="galerija lepotni studio">
				</div>

				<div class="col">
					<img src="/static/img/gallery/pic5.jpg" class="gallery-item" alt="galerija lepotni studio">
				</div>

				<div class="col">
					<img src="/static/img/gallery/pic6.jpg" class="gallery-item" alt="galerija lepotni studio">
				</div>
                <div class="col">
					<img src="/static/img/gallery/pic7.jpg" class="gallery-item" alt="galerija lepotni studio">
				</div>
                <div class="col">
					<img src="/static/img/gallery/pic8.jpg" class="gallery-item" alt="galerija lepotni studio">
				</div>
                <div class="col">
					<img src="/static/img/gallery/pic9.jpg" class="gallery-item" alt="galerija lepotni studio">
				</div>
                <div class="col">
					<img src="/static/img/gallery/pic11.jpg" class="gallery-item" alt="galerija lepotni studio">
				</div>
                <div class="col">
					<img src="/static/img/gallery/pic12.jpg" class="gallery-item" alt="galerija lepotni studio">
				</div>
			</div>
		</div>
	</section>

<!-- Modal -->
<div class="modal fade" id="gallery-popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="images/1.jpg" class="modal-img" alt="galerija lepotni studio">
      </div>
    </div>
  </div>
</div>

<footer>
        <div class="separator">
  <div class="line"></div>
    <img src="/static/img/spa.png">
    <div class="line"></div>
</div>
    <div class="container">
    <div class="row align-items-center;">
    <div class="col-md-4 col-sm-6 mb-3">
        <h5 style="text-align:center; margin-bottom:20px;"> Lepotni Studio Anais</h5>
        <div class="location">
            <ul class="list-unstyled">
            <li class="my-2 mb-1"><i class="fa fa-map-marker mx-3"></i>Spodnje Škofije 207</li>
                <li class="my-2 mx-5 mb-1">6281 Škofije</li>
                <li class="my-2 mb-1"><i class="fa fa-phone mx-3"></i>+386 40 590 177</li>
                <li class="my-2 mb-1"><i class="fa fa-envelope mx-3"></i><a href="mailto:lepotnistudioanais@gmail.com">lepotnistudioanais@gmail.com</a></li>
          </ul>
            </div>
    </div>
<div class="col-md-4 col-sm-6 mb-3">
    <h5 style="text-align:center; margin-bottom:20px;">delovni čas</h5>
    <div class="schedule">
     <ul class="list-unstyled">
        <li class="my-2 mb-1"><i class="fa fa-calendar mx-2" aria-hidden="true"></i>Ponedeljek-petek</li>
         <li class="my-2 mb-3"><i class="fa fa-clock-o mx-2" aria-hidden="true"></i>8:00-19:00</li>
         <li class="my-2 mb-1"><i class="fa fa-calendar mx-2" aria-hidden="true"></i>Sobota-nedelja-prazniki</li>
         <li class="my-2 mb-2"><i class="fa fa-clock-o mx-2" aria-hidden="true"></i>ZAPRTO</li>
     </ul>
        </div>
    </div>
        <div class="col-md-4 col-sm-6 mb-3">
            <h5 style="text-align:center; margin-bottom:20px;">Sledite nam</h5>
            <div class="follow">
      <p>Sledite nam na družbenih omrežjih in bodite<br> na tekočem z akcijami in novostmi.</p>
            </div>
            <div class="soc-links">
                <a href="https://www.facebook.com/pages/category/Beauty--cosmetic---personal-care/Lepotni-Studio-Anais-426593567492815/" target="_blank"><i class="fa fa-facebook-square mx-2" style="font-size:40px"></i></a>
                <a href="https://www.instagram.com/lepotni_studio_anais/" target="_blank"><i class="fa fa-instagram mx-2" style="font-size:40px"></i></a>
                </div>
    </div>
        </div>
</div>
</footer>





<script>
var linkClicked = document.getElementsByClassName('nav-link');
var numClass = linkClicked.length;

for (var i = 0; i < numClass; i++) {
		linkClicked[i].addEventListener('click', function(){
      var onTheMoment = document.getElementsByClassName('active');
			onTheMoment[0].className = onTheMoment[0].className.replace(' active', '');
			this.className += ' active';
    }, false);
	}
</script>
    <script type="text/javascript">
		document.addEventListener("click",function (e){
		  if(e.target.classList.contains("gallery-item")){
		  	  const src = e.target.getAttribute("src");
		  	  document.querySelector(".modal-img").src = src;
		  	  const myModal = new bootstrap.Modal(document.getElementById('gallery-popup'));
		  	  myModal.show();
		  }
		})
	</script>

    <!-- Option 1: Bootstrap Bundle with Popper -->

	 <!-- jQuery CND -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <!-- Bootstrap Script -->
  </body>
</html>